# WordPress #
############
wp-config-local.php
wp-cli.local.yml
wp-content/uploads
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/updraft/
wp-content/backupwordpress-*/
wp-content/managewp/backups/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-admin/
wp-includes/
sitemap.xml
sitemap.xml.gz
*.log
.htaccess
wp-content/backups/
wp-content/cache/
wp-content/mu-plugins/*
wp-content/plugins/*
wp-content/themes/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/vendor/
db-sync/
local-config.php
robots.txt
wp-local-config.php

# Avoid accidental modification of pantheon.upstream.yml in sites
# created from this upstream
pantheon.upstream.yml

pantheon.yml

# WP Core #
###########
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
index.php
license.txt

# OS files #
############
._*
.AppleDouble
.DS_Store
.DS_Store?
.LSOverride
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Icon?


# IDEs and Editors #
####################
_notes
.cache
.idea
.project
.settings
*.esproj
*.sublime-*
*.tmproj
*.tmproject
*.vi
dwsync.xml
nbproject
tmtags
atlassian-ide-plugin.xml
*.iml
sftp_config.json

# Miscellaneous #
#################
.vagrant
*.bak
*.diff
*.err
*.orig
*.rej
*.sass-cache
*.sql
*.swo
*.swp
*.zip
*~
node_modules
parameters.yml

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz
!wp-includes/**/*.gz


# Vim generated files #
######################
*.un~

# SASS #
##########
.sass-cache

################################################################################
# Custom/premium items that can't be managed via Composer should be WHITELISTED
################################################################################

# WHITELIST composer.lock #
###########################
!composer.lock

# WHITELIST themes #
####################
!wp-content/themes/bb-theme
!wp-content/themes/bb-theme-child

# WHITELIST plugins gitkeep #
#############################
!wp-content/plugins/bb-plugin
!wp-content/plugins/bb-theme-builder
!wp-content/plugins/chained-quiz
!wp-content/plugins/nerd-products
!wp-content/plugins/wp-sync-db

# WHITELIST mu-plugins #
########################
!wp-content/themes/my-custom-mu-plugin
